.btn {
	background-color: #f3969a !important;
}

#medicalform {
	border-style: hidden;
	padding: 3vh 5vw;
	background-color: #56cc9d;
	border-radius: 20px;
	color: white;
	margin-top: 5vh;
	text-align: center;
	width: 30vw;
}

@media only screen and (max-width: 575.98px) {
	#medicalform {
		width: 100%;
	}
	h1 {
		font-size: 2em;
	}
	h5 {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 767.98px) {
	#medicalform {
		width: 100%;
	}
	h1 {
		font-size: 2em;
	}
	h5 {
		font-size: 1.2em;
	}
}
@media only screen and (max-width: 991.98px) {
	#medicalform {
		width: 100%;
	}
	h1 {
		font-size: 2em;
	}
	h5 {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 1199.98px) {
	#medicalform {
		width: 100%;
	}
	h1 {
		font-size: 2em;
	}
	h5 {
		font-size: 1.2em;
	}
}

/* #medicalform {
	border-style: hidden;
	padding: 5vh 5vh;
	background-color: #56cc9d;
	border-radius: 2vh;
	color: white;
	margin-top: 5vh;
	text-align: center;
	width: 50vh;
}

@media (max-width: "575.98px") {
	#medicalform {
		width: 100%;
	}
} */
