#table {
	width: 60vw;
	justify-content: center;
	margin-right: 10em;
}
@media only screen and (min-width: 430.98px) {
	#table {
		width: 350px;

		justify-content: center;

		margin: 5% auto;
	}
	td {
		padding: 0 10px;
		font-size: 10px;
	}
	th {
		font-size: 10px;
	}

	#searchbar {
		margin: 40px 0px 20px 125px;
		width: 40%;
	}
}

@media only screen and (min-width: 575.98px) {
	#table {
		width: 350px;

		justify-content: center;

		margin: 5% auto;
	}
	td {
		padding: 0 10px;
		font-size: 10px;
	}
	th {
		font-size: 10px;
	}

	#searchbar {
		margin: 40px 0px 20px 125px;
		width: 50%;
	}
}

@media only screen and (min-width: 767.98px) {
	#table {
		width: 30em;

		justify-content: center;

		margin: 5% auto;
	}
	td {
		padding: 0 12px;
		font-size: 10px;
	}
	th {
		font-size: 10px;
	}
	#searchbar {
		margin: 40px 0px 20px 150px;
		width: 50%;
	}
}
@media only screen and (min-width: 991.98px) {
	#table {
		width: 45em;

		justify-content: center;

		margin: 5% auto;
	}
	td {
		padding: 0 12px;
		font-size: 12px;
	}
	th {
		font-size: 12px;
	}
	#searchbar {
		margin: 40px 0px 20px 210px;
		width: 50%;
	}
}

@media only screen and (min-width: 1199.98px) {
	#table {
		width: 60em;

		justify-content: center;

		margin: 5% auto;
	}
	td {
		padding: 0 15px;
		font-size: 13px;
	}
	th {
		font-size: 13px;
	}
	#searchbar {
		margin: 140px 0px 20px 275px;
		width: 50%;
	}
}

@media only screen and (min-width: 1399.98px) {
	#table {
		width: 75em;

		justify-content: center;

		margin: 5% auto;
	}
	td {
		padding: 0 15px;
		font-size: 14px;
	}
	th {
		font-size: 14px;
	}
	#searchbar {
		margin: 80px 50px 20px 260px;
		width: 50%;
	}
}

@media only screen and (min-width: 3440px) {
	#table {
		width: 90em;

		justify-content: center;

		margin: 5% auto;
	}
	td {
		padding: 0 15px;
		font-size: 18px;
	}
	th {
		font-size: 18px;
	}
	#searchbar {
		margin: 380px 0px 0px 550px;
		width: 50%;
	}
}
