#table {
	width: 60vw;
	justify-content: center;
	margin-right: 10em;
}

@media only screen and (max-width: 575.98px) {
	#table {
		width: 350px;

		justify-content: center;

		margin: 10% auto;
	}
	td {
		padding: 0 10px;
		font-size: 10px;
	}
	th {
		font-size: 10px;
	}
}

@media only screen and (min-width: 767.98px) {
	#table {
		width: 30em;

		justify-content: center;

		margin: 15% auto;
	}
	td {
		padding: 0 12px;
		font-size: 10px;
	}
	th {
		font-size: 10px;
	}
}
@media only screen and (min-width: 991.98px) {
	#table {
		width: 45em;

		justify-content: center;

		margin: 15% auto;
	}
	td {
		padding: 0 12px;
		font-size: 12px;
	}
	th {
		font-size: 12px;
	}
}

@media only screen and (min-width: 1199.98px) {
	#table {
		width: 60em;

		justify-content: center;

		margin: 15% auto;
	}
	td {
		padding: 0 15px;
		font-size: 13px;
	}
	th {
		font-size: 13px;
	}
}

@media only screen and (min-width: 1399.98px) {
	#table {
		width: 75em;

		justify-content: center;

		margin: 15% auto;
	}
	td {
		padding: 0 15px;
		font-size: 14px;
	}
	th {
		font-size: 14px;
	}
}

@media only screen and (min-width: 3440px) {
	#table {
		width: 90em;

		justify-content: center;

		margin: 15% auto;
	}
	td {
		padding: 0 15px;
		font-size: 18px;
	}
	th {
		font-size: 18px;
	}
}
